# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Crashlytics
crashlytics-build.properties
crashlytics.properties
fabric.properties

# claude
.claude/